@use '@styles/variables' as v;

.ProductInfo {
  width: 450px;
  height: 100vh;
  position: fixed;
  background-color: v.$white;
  top: 61px;
  right: 0;
  border-radius: 10px;
  overflow: hidden;
  border-left: 1px solid v.$light-gray;

  .close-img {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: v.$white;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 30px;
    }
  }

  .product-image {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }

  div {
    padding: 40px;
  }

  p:nth-child(1) {
    font-weight: bold;
    font-size: v.$xl;
    margin-top: 0;
    margin-bottom: 4px;
  }

  p:nth-child(2) {
    color: v.$light-gray;
    font-size: v.$xl;
    margin-top: 0;
    margin-bottom: 36px;
  }

  p:nth-child(3) {
    color: v.$light-gray;
    font-size: v.$lg;
    margin-top: 0;
    margin-bottom: 36px;
  }

  .add-to-cart-button {
    background-color: v.$garage-green;
    border-radius: 8px;
    border: none;
    color: v.$white;
    width: 100%;
    cursor: pointer;
    font-size: v.$lg;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 10px;
    }
  }
}

@media (max-width: 640px) {
  .ProductInfo {
    width: 100%;

    .product-image {
      width: 100%;
      height: auto;
    }
  }
}
